.header-wrapper {
    position: fixed;
    width: 100%;
}

.history {
    float: right !important;
    margin-left: 10px;
}

.history img {
    border-radius: 50%;
    max-height: 45px;
}

.social-network {
    margin: 0 10px;
}

.event {
    float: left;
}

.event a {
    color: #555566;
}

.event a:hover {
    color: #fcc813;
}

.event h3 {
    color: inherit;
}

.modal-body h2 {
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
}

.modal-body h3 {
    font-size: 24px;
    margin: 0;
}

.modal-body ul {
    font-size: 18px;
    list-style: none;
    padding: 0;
}

.modal-body div {
    float:left;
}

#map {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

#map h5 {
    margin: 0;
}

#map ul {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}

@media (max-width:767px) {
    .megamenu {
        height: 70px;
        overflow: hidden;
    }

    .header-wrapper {
        position: relative;
    }

    .history img {
        width: auto;
    }
}

@media (max-width:642px) {
    .megamenu {
        height: auto;
    }

    .megamenu .col-4,
    .megamenu .col-8 {
        float: none;
        width: 100% !important;
    }

    .megamenu .col-4 {
        text-align: center;
    }
}